.form {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0 8px 32px 0 black;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	margin-bottom: 50px;
}
.input_container,
.textarea_container {
	position: relative;
}
.textarea_container {
	width: 300px;
}

.label,
.textarea_label {
	position: absolute;
	width: 100%;
	top: -20px;
	left: 0px;
	transition: 1s all;
}
.label::after {
	content: "";
	position: absolute;
	top: 70px;
	left: 0px;
	width: 0%;
	background: rgb(140, 49, 28);
	background: linear-gradient(
		90deg,
		rgba(140, 49, 28, 1) 0%,
		rgba(166, 65, 28, 1) 20%,
		rgba(191, 126, 69, 1) 47%
	);
	height: 5px;
	transition: 1s all;
}

.input:focus + .label::after {
	width: 100%;
}

.input {
	width: 100%;
	height: 50px;
	border: 0px;
	background: #efefef;
	padding: 10px;
}
.textarea {
	width: 100%;
	height: 200px;
	border: 0px;
	background: #efefef;
	resize: none;
	outline: none;
	padding: 10px;
}
.textarea_label::after {
	content: "";
	position: absolute;
	top: 220px;
	left: 0px;
	width: 0%;
	background: rgb(140, 49, 28);
	background: linear-gradient(
		90deg,
		rgba(140, 49, 28, 1) 0%,
		rgba(166, 65, 28, 1) 20%,
		rgba(191, 126, 69, 1) 47%
	);
	height: 5px;
	transition: 1s all;
}
.textarea:focus + .textarea_label::after {
	width: 100%;
}

.input:focus {
	outline: none;
}
.error_message {
	margin-top: -30px;
	color: red;
	font-size: 13px;
}
.message_container {
	margin: 0 auto;
	width: 240px;
	text-align: center;
	padding: 20px 10px;
	border-radius: 40px;
	background: green;
	color: white;
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.75);
}

.button_container {
	position: relative;
	overflow: hidden;
	box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.75);
	border-radius: 20px;
	transition: 0.3s ease;
}
.button_container:hover {
	transform: perspective(500px) translateZ(20px);
	box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.75);
	transition: 0.3s ease;
	cursor: pointer;
}
.button {
	border: none;
	background-color: transparent;
	padding: 10px 30px;
	border-radius: 30px;
	color: white;
	position: relative;
	z-index: 10;
	transition: 0.3s ease;
}
.button:hover {
	text-decoration: underline;
}
.button_background {
	background: rgb(140, 49, 28);
	background: linear-gradient(
		90deg,
		rgba(140, 49, 28, 1) 0%,
		rgba(166, 65, 28, 1) 35%,
		rgba(191, 126, 69, 1) 100%
	);

	height: 650px;
	width: 650px;
	position: absolute;
	top: 0px;
	animation: moveGradient 4s linear alternate infinite;
}
@keyframes moveGradient {
	0% {
		top: 0px;
		left: 0px;
	}

	100% {
		left: -400px;
		top: -400px;
	}
}

@media (max-width: 425px) {
	.form {
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media (max-width: 375px) {
	.textarea_container {
		width: 200px;
	}
}
