.carousel {
	cursor: grab;
	overflow: hidden;

	box-shadow: 0px 0px 5px 10px rgba(93, 138, 166, 0.2);
}
.inner_carousel {
	display: flex;
	justify-content: flex-start;
}
.item {
	max-height: 40rem;
	min-width: 30rem;
	padding: 40px;
}
.item_img {
	width: 80%;
	height: 80%;
	border-radius: 2rem;
	pointer-events: none;
}

@media (max-width: 400px) {
	.item_img {
		width: 70%;
		height: 70%;
	}
}
@media (max-width: 350px) {
	.item_img {
		width: 60%;
		height: 60%;
	}
}
