.container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-bottom: 20px;
	position: relative;
	margin-top: 30px;
}
.search_field {
	width: 60%;
	outline: none;
	border: none;
	padding: 20px;
	border-radius: 40px;
	background-color: white;
	border: 1px solid black;
	text-align: center;
}
.search_field::placeholder {
	color: black;
	text-align: center;
}
.search_field:focus::placeholder {
	color: transparent;
}
.search_btn {
	position: absolute;
	right: 20.5%;
	top: 8%;
	background-color: #5d8aa6;
	border: none;
	color: white;
	padding: 10px;
	border-radius: 50%;
	border: 1px solid black;
	transition: 0.3s ease;
}
.search_icon {
	font-size: 30px;
}
.search_btn:hover {
	background-color: #d7d7d9;
	color: #5d8aa6;
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
	transition: 0.3s ease;
}
.suggestion {
	margin: 0 auto;
	cursor: pointer;
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}
.suggestion:hover {
	background: grey;
}
.suggestion_container {
	display: none;
	position: absolute;
	top: 66px;
	z-index: 1;
	background: white;
	width: 55%;
}
.search_field:focus + .suggestion_container {
	display: block;
}

@media (max-width: 800px) {
	.search_field {
		width: 90%;
	}
	.search_btn {
		right: 8%;
	}
}
@media (max-width: 400px) {
	.search_field::placeholder {
		text-align: left;
	}
}
